<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    0900123456
    <div>
        <div class="m-8 border-2 border-lime-600 p-8 flex-row items-center justify-center">
            <div>Hello</div>
            <div>You can pay here</div>
            <div class="my-4">
                <form method="POST" action="https://api.chapa.co/v1/hosted/pay" >
                    <input type="hidden" name="public_key" value="CHAPUBK_TEST-b3AiMvZmdRFcLaesQEnDEPXUMGAFGFne" />
                    <input type="hidden" name="tx_ref" value="7b794840-f906-4e40-9ad6-921f49effesdedeqw" />
                    <!-- <input type="hidden" name="tx_ref" value="negade-tx-12345678sss9" /> -->
                    <input type="hidden" name="amount" value="10" />
                    <input type="hidden" name="currency" value="ETB" />
                    <!-- <input type="hidden" name="email" value="logoskaloffice@gmail.com" /> -->
                    <input type="hidden" name="first_name" value="Kal" />
                    <input type="hidden" name="last_name" value="Muluneh" />
                    <input type="hidden" name="title" value="Testing If Chapa Works" />
                    <input type="hidden" name="description" value="Description For Payment" />
                    <input type="hidden" name="logo" value="https://chapa.link/asset/images/chapa_swirl.svg" />
                    <input type="hidden" name="callback_url" value="https://351b7a2088b6.ngrok-free.app/check/chapa-response/" />
                    <input type="hidden" name="return_url" value="https://351b7a2088b6.ngrok-free.app/check/chapa-return/" />
                    <input type="hidden" name="meta[title]" value="YeahTesting" />
                    <button type="submit" class="p-2 w-24 h-12 rounded-sm border-2 border-lime-600 hover:bg-lime-500">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>