<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="min-h-screen bg-bg-primary flex items-center justify-center p-4">
    <div class="w-full max-w-md bg-bg-secondary p-8 rounded-lg shadow-lg text-center">
        <div class="mb-6">
            <h1 class="text-3xl font-bold text-primary-700 mb-2">💵 Subscribe</h1>
            <p class="text-primary-600">For A Small Fee Of 500 Birr/month You Can All The Features Of Our Platform.</p>
        </div>
        <form method="POST" action="https://api.chapa.co/v1/hosted/pay" class="space-y-4">
            <input type="hidden" name="public_key" value="CHAPUBK_TEST-b3AiMvZmdRFcLaesQEnDEPXUMGAFGFne" />
            <input type="hidden" name="tx_ref" value="{{tx_ref}}" />
            <!-- <input type="hidden" name="tx_ref" value="negade-tx-12345678sss9" /> -->
            <input type="hidden" name="amount" value="500" />
            <input type="hidden" name="currency" value="ETB" />
            {% if user.email %}
            <input type="hidden" name="email" value="user.email" />
            {% endif %}
            <input type="hidden" name="first_name" value="{{user.first_name}}" />
            <input type="hidden" name="last_name" value="{{user.last_name}}" />
            <input type="hidden" name="title" value="Monthly Subscription Payment" />
            <input type="hidden" name="description" value="Enter Payment Details Here" />
            <input type="hidden" name="logo" value="https://chapa.link/asset/images/chapa_swirl.svg" />
            <input type="hidden" name="callback_url" value="https://psalms.pythonanywhere.com{% url 'subscription-activator' %}" />
            <input type="hidden" name="return_url" value="https://psalms.pythonanywhere.com{% url 'subscription-activator' %}" />
            <input type="hidden" name="meta[title]" value="Lersha Monthly Subscription" />
            <button type="submit" class="w-full bg-primary-500 hover:bg-primary-600 text-white font-semibold py-3 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 transition-colors">
                Subscribe Now
            </button>
        </form>
        <p class="text-xs text-primary-600 mt-4">
            We respect your privacy. Your data will not be shared with anyone.
        </p>
        <!-- <p class="text-center mt-6 text-sm text-primary-600">
            Already subscribed? <a href="#" class="text-primary-500 hover:text-primary-600 font-semibold">Manage your subscription</a>
        </p> -->
    </div>
</body>

</html>